@import "tailwindcss";

@theme {
    --font-display: "Plus Jakarta Sans", "sans-serif";
}

.tippy-box[data-theme="default"] {
    background-color: var(--color-slate-900);
    color: var(--color-slate-100);
    border: 1px solid var(--color-slate-900);
    word-wrap: break-word;
}
.tippy-box[data-theme="default"][data-placement^=right] .tippy-arrow::before {
    border-right-color: var(--color-slate-900);
}
.tippy-box[data-theme="default"][data-placement^=left] .tippy-arrow::before {
    border-left-color: var(--color-slate-900);
}
.tippy-box[data-theme="default"][data-placement^=bottom] .tippy-arrow::before {
    border-bottom-color: var(--color-slate-900);
}
